<!-- Footer Top -->
<section id="footer-top" class="row">
  <!-- Footer About -->
  <div id="footer-about" class="small-12  medium-3  large-3  columns  text-center  footer-top__block">
    <!-- Store Logo/Name -->
    {% if store.logo != empty %}
    <img src="{{ store.logo }}" class="footer-about__logo" alt="Logo {{ store.name }}">
    {% else %}
    <h2 class="footer-about__title">{{ store.name }}</h2>
    {% endif %}

    <!-- Store Description -->
    {% if template == 'home' %}
    <h2 class="footer-about__description">{% if store.description != blank %}{{ store.description | strip_html }}{% else %}{% t "Don't forget to add your store's description at Settings > General > Description" %}.{% endif %}</h2>
    {% else %}
    <p class="footer-about__description">{% if store.description != blank %}{{ store.description | strip_html }}{% else %}{% t "Don't forget to add your store's description at Settings > General > Description" %}.{% endif %}</p>
    {% endif %}

    <!-- Store Social Nets -->
    <ul class="no-bullet  footer-about__social">
      {% if social.facebook_url != blank %}
      <!-- Facebook -->
      <li class="footer-about__social-item">
        <a href="{{ social.facebook_url }}" class="footer-about__social-item-anchor" title="{{ store.name }} {% t "en Facebook" %}" target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
      </li>
      <!-- end .footer-about__social-item -->
      {% endif %}

      {% if social.twitter_url != blank %}
      <!-- Twitter -->
      <li class="footer-about__social-item">
        <a href="{{ social.twitter_url }}" class="footer-about__social-item-anchor" title="{{ store.name }} {% t "en Twitter" %}" target="_blank"><i class="fa fa-twitter fa-fw"></i></a>
      </li>
      <!-- end .footer-about__social-item -->
      {% endif %}

      {% if social.instagram_url != blank %}
      <!-- Instagram -->
      <li class="footer-about__social-item">
        <a href="{{ social.instagram_url }}" class="footer-about__social-item-anchor" title="{{ store.name }} {% t "en Instagram" %}" target="_blank"><i class="fa fa-instagram fa-fw"></i></a>
      </li>
      <!-- end .footer-about__social-item -->
      {% endif %}

      {% if social.pinterest_url != blank %}
      <!-- Pinterest -->
      <li class="footer-about__social-item">
        <a href="{{ social.pinterest_url }}" class="footer-about__social-item-anchor" title="{{ store.name }} {% t "en Pinterest" %}" target="_blank"><i class="fa fa-pinterest fa-fw"></i></a>
      </li>
      <!-- end .footer-about__social-item -->
      {% endif %}

      {% if options.store_youtube != blank %}
      <!-- Youtube -->
      <li class="footer-about__social-item">
        <a href="{{ options.store_youtube }}" class="footer-about__social-item-anchor" title="{{ store.name }} {% t "en Youtube" %}" target="_blank"><i class="fa fa-youtube fa-fw"></i></a>
      </li>
      <!-- end .footer-about__social-item -->
      {% endif %}

      {% if options.store_vimeo != blank %}
      <!-- Vimeo -->
      <li class="footer-about__social-item">
        <a href="{{ options.store_vimeo }}" class="footer-about__social-item-anchor" title="{{ store.name }} {% t "en Vimeo" %}" target="_blank"><i class="fa fa-vimeo fa-fw"></i></a>
      </li>
      <!-- end .footer-about__social-item -->
      {% endif %}

      {% if options.store_linkedin != blank %}
      <!-- LinkedIn -->
      <li class="footer-about__social-item">
        <a href="{{ options.store_linkedin }}" class="footer-about__social-item-anchor" title="{{ store.name }} {% t "en LinkedIn" %}" target="_blank"><i class="fa fa-linkedin fa-fw"></i></a>
      </li>
      <!-- end .footer-about__social-item -->
      {% endif %}

      {% if options.store_google_plus != blank %}
      <!-- Google+ -->
      <li class="footer-about__social-item">
        <a href="{{ options.store_google_plus }}" class="footer-about__social-item-anchor" title="{{ store.name }} {% t "en Google+" %}" target="_blank"><i class="fa fa-google-plus fa-fw"></i></a>
      </li>
      <!-- end .footer-about__social-item -->
      {% endif %}

      {% if options.store_github != blank %}
      <!-- GitHub -->
      <li class="footer-about__social-item">
        <a href="{{ options.store_github }}" class="footer-about__social-item-anchor" title="{{ store.name }} {% t "en GitHub" %}" target="_blank"><i class="fa fa-github fa-fw"></i></a>
      </li>
      <!-- end .footer-about__social-item -->
      {% endif %}
    </ul>
    <!-- end .footer-about__social -->
  </div>
  <!-- end #footer-about -->

  <!-- Footer Nav -->
  <div id="footer-nav" class="small-12  medium-6  large-6  columns  text-center  footer-top__block">
    <div class="row">
      <!-- Information Nav -->
      <div class="small-12  medium-6  large-6 columns">
        <h6 class="footer-top__block-title">{% t "Medios de pago" %}</h6>
        <ul class="menu  vertical  footer-top__menu">
          <li class="footer-top__menu-item">
           	<img src="https://assets.jumpseller.com/store/lyrics/themes/151416/webpay.png" class="webpay-logo"/>
          </li>
          <!-- end .footer-top__menu-item -->
        </ul>
        <!-- end .footer-top__menu -->
      </div>

      <div class="small-12  medium-6  large-6 columns">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26629.99341118088!2d-70.64191473071158!3d-33.45584072492316!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c5624dee7f7f%3A0x23460230fa42ae0a!2sLyrics+Music+Tech+Mac+Garage!5e0!3m2!1ses!2scl!4v1537650789445" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
    <!-- end .row -->
  </div>
  <!-- end #footer-nav -->


  <!-- Footer Contact -->
  <div id="footer-contact" class="small-12  medium-3  large-3  columns  text-center  footer-top__block">
    <h6 class="footer-top__block-title">{% t "Contáctanos" %}</h6>

    <ul class="menu  vertical  footer-top__menu">
      {% if options.store_contact_email != blank %}
      <li class="footer-top__menu-item">
        <a href="mailto:{{ options.store_contact_email }}" class="footer-top__menu-item-anchor" title="{% t "Escríbenos" %}"><i class="fa fa-envelope-o fa-fw"></i>{{ options.store_contact_email }}</a>
      </li>
      <!-- end .footer-top__menu-item -->
      {% endif %}

      {% if options.store_sales_email != blank %}
      <li class="footer-top__menu-item">
        <a href="mailto:{{ options.store_sales_email }}" class="footer-top__menu-item-anchor" title="{% t "Escríbenos" %}"><i class="fa fa-envelope-o fa-fw"></i>{{ options.store_sales_email }}</a>
      </li>
      <!-- end .footer-top__menu-item -->
      {% endif %}

      {% if options.store_contact_phone != blank %}
      <li class="footer-top__menu-item">
        <a href="tel:{{ options.store_contact_phone | remove:'(' | remove:')' | remove:' ' }}" class="footer-top__menu-item-anchor" title="{% t "Call us" %}"><i class="fa fa-phone fa-fw"></i>{{ options.store_contact_phone }}</a>
      </li>
      <!-- end .footer-top__menu-item -->
      {% endif %}

      {% if options.store_address != blank %}
      <li class="footer-top__menu-item">
        {% if options.store_address_url != blank %}
        <a href="{{ options.store_address_url }}" class="footer-top__menu-item-anchor" title="{% t "Encuéntranos acá" %}" target="_blank"><i class="fa fa-map-marker fa-fw"></i>{{ options.store_address }}</a>
        {% else %}
        <span class="footer-top__menu-item-string"><i class="fa fa-map-marker fa-fw"></i>{{ options.store_address }}</span>
        {% endif %}
      </li>
      <!-- end .footer-top__menu-item -->
      {% endif %}

      {% if options.store_hours != blank %}
      <li class="footer-top__menu-item">
        <span class="footer-top__menu-item-string"><i class="fa fa-clock-o fa-fw"></i>{{ options.store_hours }}</span>
      </li>
      <!-- end .footer-top__menu-item -->
      {% endif %}
    </ul>
    <!-- end .footer-top__menu -->
  </div>
  <!-- end #footer-contact -->
</section>
<!-- end #footer-top -->

<!-- Footer Copyright -->
<section id="footer-copyright" class="row">
  <div class="small-12  columns">
    <hr class="footer-copyright__divider">
  </div>

  <div class="small-12  medium-6  large-6  columns  text-center  medium-text-left">
    <h6 class="footer-copyright__text"><i class="fa fa-copyright fa-fw"></i> Copyright {{ store.name }}. {% t "Algunos derechos reservados" %}.</h6>
  </div>

  <div class="small-12  medium-6  large-6  columns  text-center  medium-text-right">
    <h6 class="footer-copyright__text">{{powered_by}}</h6>
  </div>
</section>
<!-- end #footer-copyright -->
